<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScreenCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ScreenCapture.Properties.Settings>
            <setting name="CaptureToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureToFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnterCaptureModeKey" serializeAs="String">
                <value>ALT+A</value>
            </setting>
            <setting name="CaptureToFileDestination" serializeAs="String">
                <value>C:\Users\egeme\OneDrive\Resimler</value>
            </setting>
            <setting name="Stroke" serializeAs="String">
                <value>#FF8A2BE2</value>
            </setting>
            <setting name="StrokeThickness" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExitCaptureModeKey" serializeAs="String">
                <value>ESCAPE</value>
            </setting>
        </ScreenCapture.Properties.Settings>
    </applicationSettings>
</configuration>